base_config: ../cifar10/dataset.yaml

experiment:
  model_id: M1

model:
  variant: reg
  type: unet

loss:
  lambda_sym: 0.0
  mu_loop: 0.03
  reg_k: 1
  reg_freq: 4
  reg_sym_method: jvp_vjp
  reg_sym_variant: qcsbm_trace
  reg_sym_probe_dist: rademacher
  reg_sym_scale_sigma2: true
  reg_low_noise_only: false
