__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.venv/
venv/

/runs/
/reports/
/reports_*/
/data/

*.pt
*.pth
*.ckpt

.DS_Store
